@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  direction: rtl;
  unicode-bidi: embed;
  font-family: Nazanin;
}

@font-face {
  font-family: Nazanin;
  src: url(./font/Nazanin.ttf);
}
